<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConString"
			 connectionString="server=.;database=WinFormDemoDB;Integrated Security=SSPI"/>
		<add name="ConString2" 
			 connectionString="Data Source=localhost;Initial Catalog=WinFormDemoDB;Integrated Security=True;" />
	</connectionStrings>
</configuration>